red/flows.json
[
    {
        "id": "999ea347.cf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "968c8aa0.862508",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "178.128.227.84",
        "port": "3333",
        "db": "muleestudo",
        "tz": "",
        "charset": ""
    },
    {
        "id": "36ee3a74.c13a36",
        "type": "template",
        "z": "999ea347.cf",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<x:Envelope\n    xmlns:x=\"http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:cli=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\">\n    <x:Header/>\n    <x:Body>\n        <cli:consultaCEP>\n            <cep>{{payload}}</cep>\n        </cli:consultaCEP>\n    </x:Body>\n</x:Envelope>",
        "output": "str",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "ef0c109e.eed4d"
            ]
        ]
    },
    {
        "id": "ef0c109e.eed4d",
        "type": "http request",
        "z": "999ea347.cf",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "1fb3e98d.83ab66"
            ]
        ]
    },
    {
        "id": "1fb3e98d.83ab66",
        "type": "xml",
        "z": "999ea347.cf",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "cde827db.477d38"
            ]
        ]
    },
    {
        "id": "6a4af136.8096",
        "type": "change",
        "z": "999ea347.cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].cep",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "36ee3a74.c13a36"
            ]
        ]
    },
    {
        "id": "4a287480.5883cc",
        "type": "json",
        "z": "999ea347.cf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "48073ca7.aa7744"
            ]
        ]
    },
    {
        "id": "cde827db.477d38",
        "type": "change",
        "z": "999ea347.cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"soap:Envelope\"][\"soap:Body\"][0][\"ns2:consultaCEPResponse\"][0].return[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "4a287480.5883cc"
            ]
        ]
    },
    {
        "id": "70166df0.3ce4c4",
        "type": "mysql",
        "z": "999ea347.cf",
        "mydb": "968c8aa0.862508",
        "name": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "6a4af136.8096"
            ]
        ]
    },
    {
        "id": "6b6863ad.c1868c",
        "type": "http in",
        "z": "999ea347.cf",
        "name": "",
        "url": "/cpf",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "6ca4caa0.2a6394"
            ]
        ]
    },
    {
        "id": "48073ca7.aa7744",
        "type": "http response",
        "z": "999ea347.cf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ca4caa0.2a6394",
        "type": "template",
        "z": "999ea347.cf",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM usuarios WHERE cpf={{payload.cpf}}",
        "output": "str",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "70166df0.3ce4c4"
            ]
        ]
    },
    {
        "id": "b590b44d.56dd68",
        "type": "http in",
        "z": "999ea347.cf",
        "name": "",
        "url": "/_/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "c753f473.f01278"
            ]
        ]
    },
    {
        "id": "c753f473.f01278",
        "type": "http response",
        "z": "999ea347.cf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 740,
        "y": 180,
        "wires": []
    }
]